<h2> Routine: </h2>


<p> Name: <%= @routine.name.capitalize%> </p>
<p> Exercises: 
<% @routine.find_exercises.each do |e|%>
    <%=  e.name %>
<% end %>


<%= button_to "Delete Routine", @user, method: :delete %>