<h2> Class info </h2>

<p> Name: <%= @group_class.name%> </p>
<p> Description: <%= @group_class.description%> </p>
<p> Instructor: <%= @group_class.instructor%> </p>


<p> button to add to my schedule? or routine?</p> 