<h2>All exercises:</h2>

<br>
<% @exercises.each do |type, exercise| %>
  <h4><%=type.capitalize%></h4>
    <%exercise.each do |e|%>
      <%= link_to e.name.capitalize, exercise_path(e) %>
    <br>
  <% end %>
  <br>
<% end %>
