<h1>On each side of the bar you will need:</h1>

<p> Name: <%= @exercise.name%> </p>
<p> Weight: <%= @exercise.weight%> </p>

<p> Plates: </p>
<%@exercise.barbell.each do |plate, amount|%>  
<%="#{plate}: #{amount}"%>
<br>
<%end%>
